<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/quest.log"
                     filePattern="logs/quest.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath = "logs">
                    <IfFileName glob = "quest.*.log"/>
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>